
<app-header></app-header>
<main class="main-container">

  <section class="video-section">
    <div class="video-player">
      <video
        controls width="100%" crossorigin="use-credentials" [src]="getSafeVideoUrl(videos[0].id)"
      ></video>
    </div>

    <div class="video-info">
      <h1 class="video-title">{{ videos[0].title }}</h1>
      <p class="video-author">Autor: {{ videos[0].channel.name }} • Wyświetlenia: {{ videos[0].views }}</p>
      <div class="video-description">
        {{videos[0].description }}
      </div>
    </div>
  </section>

  <aside class="playlist-section">
    <div class="playlist-header" *ngIf="playlistData">
      <h2>Moja ulubiona playlista</h2>
      <p>{{videos.length}} filmów</p>
    </div>

    <div class="playlist-video" *ngFor="let video of videos">
      <div id="playlist-video-videoThumbnail">
        <img [src]="getSafeThumbnailUrl(video.id)">
      </div>
      <div id="videoMeta">
        <label>{{video.title}}</label>
        <p>{{video.views}} wyświetleń</p>
        <p>{{video.channel.name}}</p>
      </div>
    </div>
  </aside>

</main>

