<app-header></app-header>

<div class="page-wrapper">

  <app-sidebar></app-sidebar>

  <main class="container">

    <section class="profile-section">
      <div class="profile-info">
        <h1>{{channelData.name}}</h1>
        <p class="stats">
          <span>{{channelData.subscribers}} Subskrybentów</span>
          <span>{{ this.channelVideos.length }} Filmów</span>
        </p>
        <p class="description">{{channelData.description}}</p>
        <button *ngIf="!isMyChannel"
          [ngClass]="isSubscribed ? 'sub-button-subscribed' : 'sub-button-default'"
          (click)="subscribeOrUnsubscribe()">
          {{isSubscribed ? 'Subskrybujesz' : 'Subskrybuj'}}
        </button>
        <button *ngIf = "isMyChannel" class="edit-button" (click)="goEditChannel()">Edytuj Kanał</button>
      </div>
    </section>

    <nav class="channel-nav">
      <label>Strona główna</label>
      <label>Wideo</label>
    </nav>

    <section class="video-grid">
      <div class="video-card" *ngFor="let video of channelVideos" (click)="goVideoDetail(video.id)">
        <div class="thumbnail">
          <img [src]="getSafeThumbnailUrl(video.id)">
        </div>
        <div class="video-details">
          <h3>{{ video.title }}</h3>
          <p>{{ video.views }} wyświetleń</p>
        </div>
      </div>
    </section>

  </main>
</div>
