
<header>
  <div id="header">
    <div id="headerLeft">
      <div class="logo">
        <h1>ZwierzoTube</h1>
      </div>
    </div>
    <div id="headerCenter">
      <input id="searchInput" type="text" [(ngModel)]="searchQuery">
      <button (click)="searchVideos()">Szukaj</button>
    </div>
    <div id="headerRight">
      <button id="profil-btn" (click)="goChannelPage()">Mój Kanał</button>
      <button id="uploadVideo-btn" (click)="goUploadVideo()">Dodaj film</button>
    </div>
  </div>
</header>
<div class="container">
  <aside class="sidebar">
    <nav>
      <div class="sidebar-section">
        <div class="sidebar-item" (click)="goSubscribersPage()">
          <label>Subskrypcje</label>
        </div>
        <div class="sidebar-item" (click)="goLikedVideosPage()">
          <label>Polubione Filmy</label>
        </div>
      </div>

      <hr class="sidebar-divider">

      <div class="sidebar-section">
        <div class="section-header">Ty <span>&rsaquo;</span></div>

        <div class="sidebar-item" (click)="goHistoryPage()">
          <label>Historia</label>
        </div>

        <div class="sidebar-item" (click)="goPlayListPage()">
          <label>Playlisty</label>
        </div>

        <div class="sidebar-item notification-anchor" (click)="openNotifications($event)">
          <label>Powiadomienia</label>
          <span class="badge" *ngIf="readNotifications.length > 0">{{readNotifications.length}}</span>

          <div class="notification-window" *ngIf="isNotificationOpen" (click)="$event.stopPropagation()">
            <div class="window-header">
              Powiadomienia
            </div>
            <div class="window-content">
              <div class="note-item" *ngFor="let note of notifications">
                {{ note.content }}
                <p *ngIf=!note.isRead (click)="readNotification(note.id)">Odczytaj</p>
                <p *ngIf="note.isRead">Odczytane</p>
              </div>
              <div class="empty-notes" *ngIf="notifications.length === 0">
                Brak nowych powiadomień
              </div>
            </div>
          </div>
        </div>
      </div>

    </nav>
    <footer>
      <div class="footer-div">
        <button id="logout-btn" (click)="logout()">Wyloguj się</button>
      </div>
    </footer>

  </aside>

  <div class="videoContainer">
    <main class="content">
      <div #videoContainer class="video-grid">
        <div *ngFor="let video of videos" class="video-card" (click)="goVideoDetail(video.id)">
          <div class="thumbnail-container">
            <img [src]="getSafeThumbnailUrl(video.id)" alt="thumb">
          </div>
          <div class="video-info">
            <h3>{{video?.title || 'Brak tytułu'}}</h3>
            <p>{{video?.channel?.name || 'Brak nazwy kanału'}}</p>
            <p>{{ video?.views || 0 }} wyświetleń</p>
          </div>
        </div>

      </div>

    </main>

  </div>
</div>

